{{define "index"}}
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bus in Blr</title>
	<link rel="stylesheet" href="/staticweb/js/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/staticweb/css/styles.css">
	<link rel="stylesheet" href="/staticweb/js/lib/bootstrap/css/bootstrap-responsive.min.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button id="navBarCollapseBtn" type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- <a class="brand" href="#">Bangalore Bus Routes</a> -->
				<div class="brand" style="color: lightseagreen;">Bus in Blr</div>

				<div id="navItemsCollapse" class="nav-collapse collapse">
					<ul class="nav">
						<li id="fromToNavBtn" ><a href="#">From-To</a></li>
						<li id="busNavBtn" ><a href="#">Bus</a></li>
						<li id="stopNavBtn" ><a href="#">Stop</a></li>
						<li id="feedbackNavBtn" ><a href="#">Issue/Feedback</a></li>
						<li id="aboutNavBtn" ><a href="#">About</a></li>
					</ul>
				</div><!--/.nav-collapse -->


			</div>
		</div>
	</div>

	<div id="route-section">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="control-group">
						<div class="controls">
							<label class="control-label" for="fromStop">From Bus Stop</label>
							<div class="input-prepend">
								<span class="add-on"><i class="icon-map-marker"></i></span>
								<input class="span2" id="fromStop" type="text" placeholder="type starting stop" >
							</div>
							<label class="control-label" for="toStop">To Bus Stop</label>
							<div class="input-prepend">
								<span class="add-on"><i class="icon-flag"></i></span>
								<input class="span2" id="toStop" type="text" placeholder="type destination stop" >
							</div>
						</div>
					</div>
					<p><a href="#" class="btn btn-large btn-primary" onclick="searchAtoB()">Search &raquo;</a></p>
					<p><button type="button" class="btn" data-toggle="button" id="showAsCSList">Comma Separated List</button></p>
					<p><button type="button" class="btn" id="reverseFromTo">Reverse From To</button></p>
				</div>

				<div class="span6">
					<div id="search-error" class="alert alert-error"></div>
					<div id="search-alert" class="alert">Found <em><b><span id="search-results-count">NO</span></b></em> direct bus(es) between those stops.</div>
					<div id="search-results-list" class=""></div><p>
					<div class="accordion" id="accordion1" >

					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="busnumber-section">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="control-group">
						<div class="controls">
							<label class="control-label" for="busNumber">Bus Number</label>
							<input class="span2" id="busNumber" type="text" placeholder="type bus number here" >
						</div>
					</div>
					<p><a href="#" class="btn btn-large btn-primary" onclick="searchBusNumber()">Search &raquo;</a></p>
				</div>

				<div class="span6">
					<div id="busnumber-search-error" class="alert alert-error">Bus Number search ... to be changed.</div>
					<div id="busNumberDetails">

					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="feedback-section">
		<div class="container">
			<div class="row">
				<div class="span6">
					<form class="form-horizontal" id="feedbackForm" method="POST" action="/f">
						<fieldset>

							<!-- Hidden Fields -->
							<input type="hidden" id="feedbackOrigin" name="feedbackOrigin" value="#fromToNavBtn"/>

							<!-- Form Name -->

							<!-- Select Basic -->
							<div class="control-group">
								<label class="control-label">Sub Category</label>
								<div class="controls">
									<select id="feedbackSubject" name="feedbackSubject" class="input-xlarge">
										<option>Other</option>
										<option>Wrong stop on route</option>
										<option>Route no longer exists</option>
										<option>New stop to be added on route</option>
										<option>Missing bus number</option>
									</select>
								</div>
							</div>

							<!-- Text input-->
							<div class="control-group">
								<label class="control-label">Bus Number/Stop Name</label>
								<div class="controls">
									<input id="feedbackReference" name="feedbackReference" type="text" placeholder="" class="input-xlarge">
									<p class="help-block"></p>
								</div>
							</div>

							<!-- Textarea -->
							<div class="control-group">
								<label class="control-label">Details</label>
								<div class="controls">
										<textarea id="feedbackDetails" name="feedbackDetails" class="textarea"></textarea>
								</div>
							</div>

							<!-- Text input-->
							<div class="control-group">
								<label class="control-label">(Optional) Email</label>
								<div class="controls">
									<input id="feedbackEmail" name="feedbackEmail" type="text" placeholder="type email here" class="input-xlarge">
									<p class="help-block"></p>
								</div>
							</div>

							<!-- Button (Double) -->
							<div class="control-group">
								<label class="control-label"></label>
								<div class="controls">
									<button id="feedbackSend" name="feedbackSend" class="btn btn-primary">Send Feedback</button>
									<button id="feedbackCancel" name="feedbackCancel" class="btn btn-default">Cancel</button>
								</div>
							</div>

						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="about-section">
		<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2 style="color: lightseagreen;">Bus in Blr</h2>
        <h3 style="color: lightseagreen;">Take the bus!</h3>
        <p>I mostly use the bus service in ಬೆಂಗಳೂರು/Bengaluru/Bangalore.  It's great becuase it gives me a lot more time to read and also be less stressed by avoiding driving.  Hopefully you will find this site useful for your own journeys here.</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Thank you!</h2>
          <p>If you are here, thank you for your continued patronage.  If you think the site is useful, kindly spread the word and let others know about it.  The more people we have using the site, it is bound to result in better data accuracy through user feedback.</p>
        </div>
        <div class="span4">
          <h2>Discuss</h2>
          <p>Need more help from the community?  Discuss in our forum at <a href="https://groups.google.com/forum/?fromgroups#!forum/bus-in-blr" target="_blank">Google Groups</a>.</p>
          <p><a class="btn" href="https://groups.google.com/forum/?fromgroups#!forum/bus-in-blr" target="_blank">Go to Bus in Blr Forum</a></p>
       </div>
        <div class="span4">
          <h2>Volunteer</h2>
          <p>To maintain this site and check the accuracy of the data is a time consuming task.  Would you be able to help me improve the data on the site? For now I intend to post in the <a href="https://groups.google.com/forum/?fromgroups#!forum/bus-in-blr" target="_blank">forum</a> with data and feedback that I need validated, verified, and improved.  Please help me on that with your inputs there.</p>
        </div>
      </div>

      <div class="row">
        <div class="span4">
          <h2>Technologies</h2>
          <p><a href="http://golangtutorials.blogspot.fr/2011/05/table-of-contents.html" target="_blank">Go Lang</a>, <a href="https://plus.google.com/communities/116635345018496310983" target="_blank">HTML/CSS</a>, <a href="https://plus.google.com/communities/116635345018496310983" target="_blank">JQuery</a>, <a href="http://twitter.github.com/bootstrap/?v=2.0" target="_blank">Bootstrap</a>, <a href="https://developers.google.com/appengine/" target="_blank">Google AppEngine</a></p>
          <p>Yes, promoting some personally preferred technologies and communities.  :-)</p>
        </div>
        <div class="span4">
          <h2>Data</h2>
          <p>As of now, most of the data has been obtained from certain forums and scraping some of the data from other sites.  With regular user feedback and updates, I expect the data will grow to be accurate.  It will also be available with the open source code.</p>
       </div>
        <div class="span4">
          <h2>Source Code</h2>
          <p>Even as of now the source code is open sourced.  However, I'll link it from here after I've cleaned up the code and the file structures a bit.</p>
        </div>
      </div>
      <hr>

			<div class="row">
				<div class="span12">
					<h3>Release notes</h3>
					<ul>
						<li>
							<h5>Version 0.1, 2013/03/24</h5>
							<ul>
								<li>First release.</li>
								<li>Allows search by bus number and for direct buses between stops.</li>
								<li>Works great on mobile too with responsive UI.</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

      <hr>

      <footer>
        <p>created by <a href="http://www.sathishvj.com">sathishvj</a></p>
      </footer>

    </div> <!-- /container -->
	</div>

<script src="/staticweb/js/lib/jquery-1.9.1.min.js"></script>
<script src="/staticweb/js/lib/sprintf-0.7-beta1.js"></script>
<script src="/staticweb/js/lib/bootstrap/js/bootstrap.min.js"></script>
<script>
//globally used values
var busStopNames = {{.BusStops}};
var busNumbers = {{.BusNumbers}};

//global setup
$(document).ready(function() {
	$("#fromStop, #toStop").typeahead({
		minLength: 1,
		items: 12,
		source: busStopNames
	});

	$("#busNumber").typeahead({
		minLength: 1,
		items: 12,
		source: busNumbers,
		updater: function(item) {
			$("#busNumber").val(item);
			searchBusNumber();
			return item;
		}
	});

	$("#search-alert, #search-error").hide();
	$("#search-results-list").html("");
	// $("#fromStop").val(busStopNames[2]);
	// $("#toStop").val(busStopNames[1]);

	$("#busnumber-search-error").hide();

	$("#route-section, #busnumber-section, #feedback-section", "#about-section").hide();
	// $("#busnumber-section").show();

	$("#fromToNavBtn, #busNavBtn, #stopNavBtn, #feedbackNavBtn, #aboutNavBtn").click(function(){
		navBtnActivate("#" + this.id);
	});

	navBtnActivate("#fromToNavBtn");

	//for now hide the Stop Nav Btn as there is no functionality
	$("#stopNavBtn").hide();

	$("#showAsCSList").click(function(){
		searchAtoB();
	});

	$("#reverseFromTo").click(function(){
		temp = $("#fromStop").val();
		$("#fromStop").val($("#toStop").val());
		$("#toStop").val(temp);
		searchAtoB();
	});

});

function navBtnActivate(navBtnId) {
	$('.nav-collapse').collapse("hide");

	if ($(navBtnId).hasClass("active")) {
		return;
	}

	$("#fromToNavBtn, #busNavBtn, #stopNavBtn, #feedbackNavBtn, #aboutNavBtn").removeClass("active");
	$(navBtnId).addClass("active");

	$("#route-section, #busnumber-section, #feedback-section, #about-section").hide();
	switch(navBtnId) {
		case "#fromToNavBtn":
			$("#route-section").show();
		break;
		case "#busNavBtn":
			$("#busnumber-section").show();
		break;
		case "#stopNavBtn":
			alert("To be done!");
		break;
		case "#feedbackNavBtn":
			$("#feedback-section").show();
		break;
		case "#aboutNavBtn":
			$("#about-section").show();
		break;
	}

	//if navbar is on small screen and is in expanded mode, then collapse it
	// if ($("#navItemsCollapse").hasClass("in")) {
		// $("#navBarCollapseBtn").addClass("collapsed");
		// $("#navItemsCollapse").removeClass("in");
	// }
}

// BEGIN - code for route section

function searchAtoB() {
	$("#search-alert, #search-error, #accordion1").hide();
	$("#search-results-list").html("");

	var from = $("#fromStop").val().trim();
	var to = $("#toStop").val().trim();

	if (from == "") {
		$("#search-error").html("But you have to start from somewhere!").show();
		return;
	}

	if (to == "") {
		$("#search-error").html("But don't you want to get to another place?").show();
		return;
	}

	if (from == to) {
		$("#search-error").html("Yeah, really? You're just going to stand in one place! Or just go in circles!").show();
		return;
	}

	if ($.inArray(from, busStopNames) < 0 ) {
		$("#search-error").html("You can't just make up your own bus stop names! Invalid entry in From Bus Stop.").show();
		return;
	}

	if ($.inArray(to, busStopNames) < 0 ) {
		$("#search-error").html("You can't just make up your own bus stop names! Invalid entry in To Bus Stop.").show();
		return;
	}

	var url = "/r?from=" + escape(from) + "&to=" + escape(to);
	// alert("Calling url:" + url);

	$("#accordion1, #search-results-list").html("");

	$.get(url, showSearchResults)
	.error(function(xhr, status, error) {
		$("#search-alert").hide();
		$("#search-error").html("Application error: " + status + "- " + error).show();
	});
}

var accordionString = '<div class="accordion-group">\
						<div class="accordion-heading">\
							<a class="accordion-toggle" data-toggle="collapse" data-target="#collapse%1$d" href="#collapse%1$d">%2$s</a>\
						</div>\
						<div id="collapse%1$d" class="accordion-body collapse %4$s">\
							<div class="accordion-inner">\
								%3$s\
							</div>\
						</div>\
					</div>';

function showSearchResults(data) {
		var jsonData = $.parseJSON(data);
		var len = 0;
		if (jsonData != null) {
			len = jsonData.length;
		}
		// alert("Received: " + len + " items : " + data);
		$("#search-error").hide();
		$("#search-alert").show();

		$("#search-alert").removeClass();
		if (len == 0) {
			$("#search-results-count").html("NO");
			$("#search-alert").addClass("alert alert-warning");
			return;
		} else {
			$("#search-results-count").html(len);
			$("#search-alert").addClass("alert alert-success");
		}

		var showAsCSList = false;
		if ($("#showAsCSList").hasClass("active")) {
			showAsCSList = true;
		}

		// if ($("#allowMultipleExpand").hasClass("active")) {
		// 	$("#accordion1").attr("selector");
		// } else {
		// 	$("#accordion1").removeAttr("selector");
		// }

		var autoOpenFirst = (len == 1);

		var fromStop = $("#fromStop").val();
		var toStop = $("#toStop").val();
		var fullAccStr = "";
		var numberListStr = "";
		for (i=0; i<len; i++) {
			var busStopsStr = "";
			// alert("BusStopsA length: "+ Object.keys(jsonData[i].BusStopsA).length);
			// var j = 0;
			var firstFound = false, secondFound = false;
			// for (key in jsonData[i].BusStopsA) {
			// 	var value = jsonData[i].BusStopsA[key];
			for (j=0; j<jsonData[i].BusStopsA.length; j++) {
				var value = jsonData[i].BusStopsA[j];
				var prefix = "", suffix = "";
				if (value == fromStop ||  value == toStop) {
					if (!firstFound) { firstFound = true; }
					else { secondFound = true; }
					prefix = "<b>";
					suffix = "</b>";
				}
				if ((firstFound && !secondFound) || //for items from firstFound item upto but not including secondFound item
					(secondFound && (value == fromStop || value == toStop))) { //
					prefix = "<span style='color: green;'>" + prefix;
					suffix = suffix + "</span>";
				} else {
					prefix = "<i>" + prefix;
					suffix = suffix + "</i>";
				}
				if (showAsCSList) {
					if (busStopsStr != "" ) {
						busStopsStr += ", ";
					}
					busStopsStr += prefix + value + suffix;
				} else {
					busStopsStr += prefix + "<li>" + value + "</li>" + suffix;
				}
			}
			if (showAsCSList) {
				//nothing to do here
			} else {
				busStopsStr = "<ol>" + busStopsStr + "</ol>";
			}
			fullAccStr += sprintf(accordionString, i+1, jsonData[i].Number, busStopsStr, autoOpenFirst?"in":"");

			//create a list of all found bus numbers also
			if (numberListStr != "") { numberListStr += ", "}
			numberListStr += jsonData[i].Number;
		}
		$("#accordion1").html(fullAccStr).show();
		$("#search-results-list").html(numberListStr).show();
}

// END - code for route section


// BEGIN - code for bus number section
function searchBusNumber() {
	$("#busnumber-search-error").hide();

	var busNumber = $("#busNumber").val().trim();

	if (busNumber == "") {
		$("#busnumber-search-error").html("You need to give me something to search with!").show();
		return;
	}

	if ($.inArray(busNumber, busNumbers) < 0 ) {
		$("#search-error").html("You can't just make up your own bus! Invalid entry in Bus Number field.").show();
		return;
	}

	var url = "/b?number=" + escape(busNumber);
	// alert("Calling url:" + url);

	$("#busNumberDetails").html("");

	$.get(url, showBusNumberSearchResults)
	.error(function(xhr, status, error) {
		$("#busnumber-search-error").html("Application error: " + status + "- " + error).show();
	});
}

var busNumberHTMLStr = "<div>\
<h3>%1$s</h3>\
<ol>\
%2$s\
</ol>\
</div>\
";

function showBusNumberSearchResults(data) {
	// alert(data);
	var jsonData = $.parseJSON(data);
	var len = 0;
	if (jsonData == null) {
		$("#busnumber-search-error").html("Application error: it is showing up as empty data, but it shouldn't be.  Our fault.").show();
		return;
	}
	$("#busnumber-search-error").hide();

	var fullHTMLStr = "";
	var busNumbersStr = "";
	for (j=0; j<jsonData.BusStopsA.length; j++) {
		var value = jsonData.BusStopsA[j];
		var prefix = "", suffix = "";
		busNumbersStr += "<li>" + value + "</li>";
	}
	fullHTMLStr = sprintf(busNumberHTMLStr, jsonData.Number, busNumbersStr);
	$("#busNumberDetails").html(fullHTMLStr).show();
}
// END - code for bus number section

// BEGIN - code for  feedback section
$("#feedbackSend").click(function(event) {
		// alert("Send clicked");
		$.post("/f", $("#feedbackForm").serialize())
		.done(function(data) {
			alert("Thank you for your feedback!");
			navigateOutOfFeedback();
		})
		.fail(function(data) {
			alert("Error saving feedback: " + data);
		});
		return false;
	});

$("#feedbackCancel").click(function(event) {
	navigateOutOfFeedback();
  return false;
});

function navigateOutOfFeedback() {
	$("#feedbackReference, #feedbackDetails").val("");

	var origin = $("#feedbackOrigin").val();
	if (origin != "" ) {
		navBtnActivate(origin);
	}
}

function navigateToFeedback(origin, category, subcategory, reference) {
	$("#origin").val(origin);
	$("#category").val(category);
	$("#subcategory").val(subcategory);
	$("#reference").val(reference);

	navBtnActivate("#feedbackNavBtn");
}
// END - code for  feedback section

</script>


</body>
</html>
{{end}}